{{form_start(form)}}
    {% for product in form.children.product.vars.choices %}
    
    {# {{ dump(product) }} #}
    {% endfor %}
    
    {{form_widget(form)}}
    {# yo #}
    {# yoi #}
 <button class="btn-large btn-block waves-effect waves-light" >{{ button_label|default('Continuer') }}</button>
 
{{form_end(form)}}